.form-title {
	color: var(--title-color);
}

.photo-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.user-photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.user-details label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	font-size: small;
	opacity: 0.7;
}

.user-details input {
	flex: 1;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	font-size: 14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s, box-shadow 0.3s;
}
.user-details input:focus {
	border-color: #007bff;
	box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
	outline: none;
}

.user-container {
	flex-direction: column;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1.875em;
	padding: 1.875em;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	background: var(--bg-color-book-page);
	color: var(--text-color);
	transition: transform 0.4s ease, box-shadow 0.4s ease, padding 0.3s ease;
	max-width: 500px;
	position: relative;
	overflow: hidden;
	margin: 100px auto 50px;
	font-family: var(--text-font);
}
.buttons-container {
	display: flex;
	gap: 0.938em;
	margin-top: 1.25em;
}

.user-btn {
	background: var(--button-bg-color);
	color: #ffffff;
	background: var(--form-button-bg);
	padding: 0.75em 1.563em;
	border: none;
	border-radius: 25px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.user-btn:hover {
	color: var(--pagination-color);
	background: var(--toggle-text);
	transform: translateY(-3px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
	.user-container {
		flex-direction: column;
		align-items: center;
		padding: 1.5em;
		gap: 1.5em;
	}
}

@media (max-width: 480px) {
	.user-container {
		padding: 1em;
		gap: 1em;
	}

	.buttons-container {
		font-size: 0.9rem;
		padding: 0.5em 1em;
		margin: 0 auto;
	}
}
