.bookDetailsContainer {
	display: flex;
	max-width: 600px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
}
.bookDetails {
	padding-left: 20px;
}
.authorAndPublishDate {
	display: flex;
}
.author{
	margin-right:20px;
}
.createDiscussionButton{
	padding:10px 15px;
	font-size: 14px;
}