.toggle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-text {
	font-size: 18px;
	color: var(--toggle-text);
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button {
	position: relative;
	height: 30px;
	width: 60px;
	border-radius: 30px;
	background: #f07167;
	cursor: pointer;
	transition: background 250ms ease-in-out;
}

.inner-circle {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: radial-gradient(circle, #ffe4b2, #e87d5a);
	transition: transform 250ms ease-in-out, background 250ms ease-in-out,
		box-shadow 250ms;
}

.toggle-button.toggled {
	background: #235347;
}

.toggle-button.toggled .inner-circle {
	transform: translateX(30px);
	background: radial-gradient(circle, #cfee9e, #163832);
}
