.toggle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-text {
	font-size: 18px;
	color: var(--toggle-text);
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button {
	position: relative;
	height: 30px;
	width: 60px;
	border-radius: 30px;
	background: #f07167;
	cursor: pointer;
	transition: background 250ms ease-in-out;
}

.inner-circle {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: radial-gradient(circle, #fff, #e87d5a);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: transform 250ms ease-in-out, background 250ms ease-in-out, box-shadow 250ms;
}

.toggle-button:hover .inner-circle {
	box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.toggle-button.toggled {
	background: linear-gradient(90deg, #4b2991, #872ca2);
}

.toggle-button.toggled .inner-circle {
	transform: translateX(30px);
	background: radial-gradient(circle, #fff, var(--button-bg-hover));
	box-shadow: 0 0 15px rgba(255, 69, 58, 0.7);
}