.question-page h1 {
	margin-top: 100px;
}

h3 {
	cursor: pointer;
	transition: all 200ms ease-in-out;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 3px 7px;
	border-radius: 6px;
}

h3:hover {
	background: var(--button-bg-hover);
	transform: translateY(-3px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	color: var(--bg-color-container);
}

h4 {
	font-weight: 300;
}

.main-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
	padding: 60px;
}

.img {
	flex: 1 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	max-width: 500px;
	height: auto;
	margin-top: 10px;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

.questions {
	flex: 1 1 50%;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 500ms ease-in-out;
}

.content.open {
	max-height: 500px;
}

li {
	transition: all 200ms ease-in-out;
	font-size: 18px;
}

@media (max-width: 768px) {
	.main-content {
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.img {
		margin-bottom: 30px;
	}

	img {
		width: 100%;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 1.2rem;
	}
}

@media (max-width: 576px) {
	.main-content {
		padding: 0;
	}

	img {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	h3 {
		font-size: 1rem;
	}
}
