.home {
	font-family: var(--text-font);
	margin-top: 100px;
}

h1 {
	font-family: var(--heading-font);
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 20px;
}

.book-talk {
	font-size: 5rem;
}

.home-buttons-container {
	display: flex;
	margin-top: 40px;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.home-find-book-button {
	background: var(--post-book-talk-button-bg);
	color: var(--slider-bg);
	padding: 0.75em 1.563em;
	border: none;
	border-radius: 25px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.home-find-book-button:hover {
	background: var(--button-bg-color);
	transform: translateY(-3px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h4 {
	color: var(--toggle-text);
}

main {
	max-width: 1400px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.book-of-the-month {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.book-of-the-month-card {
	width: 100%;
	padding: 40px;
	background: var(--toggle-text);
	border-radius: 15px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-of-the-month-card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.book-of-the-month-card-img {
	width: 90%;
	max-height: 250px;
	object-fit: contain;
	margin-bottom: 20px;
}

.book-of-the-month-card-title {
	font-family: var(--heading-font);
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--bg-color-container);
	margin: 10px 0;
	text-align: center;
}

.book-of-the-month-card-author {
	font-size: 1.1rem;
	color: var(--bg-color-container);
	font-style: italic;
	text-align: center;
	margin-bottom: 0;
}

.paragraph {
	margin: 55px 0 50px;
}

.paragraph p {
	font-size: 22px;
}

.book-slider {
	background: var(--slider-bg);
	color: var(--button-bg-hover);
	text-align: center;
	padding: 3rem;
	margin-top: 40px;
	border-radius: 14px;
}

.swiper {
	width: 100%;
	padding: 1rem 0;
}

.swiper-slide {
	display: flex;
	justify-content: center;
}

.swiper-slide .card {
	width: 90%;
	max-width: 300px;
	margin-bottom: 40px;
}

.swiper-button-prev {
	left: -2px;
	color: var(--button-bg-hover);
}

.swiper-button-next {
	right: 2px;
	color: var(--button-bg-hover);
}

.swiper-pagination-bullet {
	background: var(--button-bg-hover);
}

.book-btn {
	transition: all 200ms ease-in-out;
	border-radius: 20px;
	overflow: hidden;
	border: none;
	margin-bottom: 70px;
	background: var(--bg-color-card);
}

.book-btn a {
	text-decoration: none;
	background: none;
}

.links h3 {
	background: none;
}

.book-btn:hover {
	transform: scale(1.1) rotate(-1deg);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
	border-radius: 20px;
	border: none;
}

.link-text {
	color: var(--title-color);
	font-family: var(--heading-font);
	font-size: 22px;
}

@media (max-width: 575px) {
	h1 {
		font-size: 2rem;
		padding: 0 10px;
	}

	.book-talk {
		font-size: 2rem;
	}

	main {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.welcome,
	.book-of-the-month {
		max-width: 100%;
		text-align: center;
		margin: 0;
	}

	.book-of-the-month-card {
		padding: 20px;
	}

	.book-of-the-month-card-title {
		font-size: 1rem;
	}

	.book-of-the-month-card-author {
		font-size: 0.9rem;
	}

	.links .book-btn {
		width: 100%;
		max-width: 300px;
	}

	.swiper-slide .card {
		width: 100%;
		max-width: 300px;
	}
}

@media (max-width: 820px) {
	h1 {
		font-size: 1.8rem;
	}

	.welcome,
	.book-of-the-month {
		max-width: 100%;
		text-align: center;
		margin: 0;
	}

	.book-of-the-month-card {
		padding: 30px;
		width: 350px;
	}

	.links .book-btn {
		width: 100%;
		max-width: 300px;
		margin-bottom: 10px;
	}
	.slider {
		overflow-x: scroll;
		display: flex;
		gap: 10px;
	}

	.slider-item {
		min-width: 100%;
		flex-shrink: 0;
		padding: 10px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.6rem;
		text-align: center;
		padding: 0 10px;
	}

	.welcome,
	.book-of-the-month {
		flex: 1 1 100%;
		max-width: 100%;
		text-align: center;
		margin: 0;
	}

	.slider {
		overflow-x: scroll;
		display: flex;
		gap: 10px;
	}

	.slider-item {
		min-width: 100%;
		flex-shrink: 0;
		padding: 10px;
	}
}
