.home {
	max-width: 1400px;
	margin-top: 80px;
	font-family: var(--text-font);
}

h1 {
	font-family: var(--heading-font);
}
h4{
	color:var(--toggle-text);
}
main {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding:80px;
}

.book-of-the-month {
	flex: 1 1 45%;
	max-width: 400px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.welcome {
	flex: 1 1 50%;
	margin-right: 50px;
	padding: 50px 0;
	font-size: 18px;
}

.book-of-the-month-card {
	width: 100%;
	padding: 40px;
	background: var(--toggle-text);
	border-radius: 15px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-of-the-month-card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.book-of-the-month-card-img {
	width: 90%;
	max-height: 300px;
	object-fit: contain;
	margin-bottom: 20px;
}

.book-of-the-month-card-title {
	font-family: var(--heading-font);
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--bg-color-container);
	margin: 10px 0;
	text-align: center;
}

.book-of-the-month-card-author {
	font-size: 1.1rem;
	color: var(--bg-color-container);
	font-style: italic;
	text-align: center;
	margin-bottom: 0;
}

.links .book-btn {
	transition: all 200ms ease-in-out;
	border-radius: 20px;
	overflow: hidden;
	background: var(--book-genre);
	border: none;
	margin-bottom: 70px;
}

.links .book-btn:hover {
	transform: scale(1.1) rotate(-1deg);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}
.link-text {
	color: var(--author-color);
	font-family: var(--heading-font);
	font-size:22px;
}
a {
	color: var(--links-color);
}

@media (max-width: 575px) {
	main {
		flex-direction: column;
		align-items: center;
	}
	.welcome,
	.book-of-the-month {
		flex: 1 1 100%;
		max-width: 90%;
		padding: 20px 0;
	}

	.book-of-the-month-card {
		padding: 20px;
	}

	.book-of-the-month-card-title {
		font-size: 1rem;
	}

	.book-of-the-month-card-author {
		font-size: 0.9rem;
	}

	.links .book-btn {
		width: 100%;
		max-width: 300px;
	}
}

@media (max-width: 765px) {
	.welcome,
	.book-of-the-month {
		flex: 1 1 100%;
		max-width: 100%;
		text-align: center;
		margin: 0;
	}

	.book-of-the-month-card {
		padding: 30px;
		width: 350px;
	}

	.links .book-btn {
		width: 100%;
		max-width: 300px;
	}
}
@media (max-width: 575px) {
	.welcome,
	.book-of-the-month {
		max-width: 100%;
		text-align: center;
		margin: 0;
	}
}
