.custom-navbar {
	background: var(--bg-navbar);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	font-family: var(--heading-font);
	color: var(--navbar-font-color);
	font-size: 1.7rem;
	font-weight: bold;
}

.nav-link {
	color: var(--navbar-font-color);
	margin-right: 1rem;
	font-size: 1rem;
	font-family:var(--text-font);
}

.nav-item a {
	font-size: 18px;
	transition: all 150ms ease-in-out;

}
.nav-item a:hover {
	color: var(--links-hover-color);
	transform: scale(1.07);
	
}
.my-text {
	transition: all 150ms ease-in-out;
}
.my-text:hover {
	color: var(--links-hover-color);
}

.custom-btn {
	color: var(--bg-navbar);
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 1.1rem;
	border: none;
	font-family:var(--text-font);
	font-weight: bold;
	padding: 0.4rem 0.8rem;
	border-radius: 10px;
	transition: all 150ms ease-in-out;
}

.custom-btn:hover {
	background: var(--links-hover-color);
	color: white;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
