
.custom-navbar {
    background-color: #953f06; 
  }
  
  .navbar-brand {
    font-family: 'Cursive', sans-serif;
    color: #E6E0FF; 
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  .nav-link {
    color: #E6E0FF; 
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  .nav-link:hover {
    color: #C3B4F3; 
  }
  
  
  .custom-btn {
    color: #2D2A55; 
    background-color: #E6E0FF; 
    border-color: #E6E0FF; 
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
  }
  
  .custom-btn:hover {
    background-color: #C3B4F3; 
    color: #2D2A55;
    border-color: #C3B4F3;
  }
  