footer {
	margin-top: 80px;
}

footer p {
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
}

footer a {
	text-decoration: none;
	font-size: 16px;
	color: var(--links-color);
	transition: color 200ms ease-in-out;
}

footer a:hover {
	color: var(--links-hover-color);
}

.text-shadow:hover {
	text-shadow:
		rgba(255, 214, 143, 0.986) 0px 0px 87px,
		rgba(219, 146, 20, 1) 0px 0px 243px,
		rgba(255, 245, 227, 0.893) 0px 0px 28px,
		rgba(255, 253, 250, 1) 0px 0px 23px;
}

.open-sourced {
	margin-left: 5px;
	margin-right: 5px;
}

.open-sourced:hover {
	text-decoration: underline;
}
