footer {
	margin-top: 80px;
}

footer p {
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
}

footer a {
	text-decoration: none;
	font-size: 16px;
	color: var(--links-color);
	transition: color 200ms ease-in-out;
}

footer a:hover {
	color: var(--links-hover-color);
}

.open-sourced {
	margin-left: 5px;
	margin-right: 5px;
}

.open-sourced:hover {
	text-decoration: underline;
}
