.display {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
	color: #fff;
	background-color: #00838f;
	border-color: #00838f;
	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #00838f;
}
