.discussion-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    flex: 0 0 150px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 0;
}
.form-group input,
.form-group textarea {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.discussion-container {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    padding: 1.875em;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: var(--bg-color-book-page);
    color: var(--text-color-book-page);
    max-width: 700px;
    margin: 1.25em auto;
    width: 100%;
}
.buttons-container {
    display: flex;
    gap: 0.938em;
    margin-top: 1.25em;
}

.create-discussions-btn {
    background: var(--button-bg-color);
    color: var(--button-text-color);
}

.create-discussions-btn:hover {
    background: var(--button-bg-hover);
}


@media (max-width: 768px) {
    .discussion-container {
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
        gap: 1.5em;
    }
    
}

@media (max-width: 480px) {
    .discussion-container {
        padding: 1em;
        gap: 1em;
    }
   button {
       font-size: 0.9rem;
       padding: 0.5em 1em;
       margin: 0 auto;
   }
    
}
