:root {
	--bg-color-container: #ffe8d6;
	--bg-color-book-page: #ffe4b2;
	--title-color: #444;
	--author-color: #555;
	--text-color: #2e2e2e;
	--bg-color-card: linear-gradient(135deg, #ffe4b2, #ff9d76);
	--button-bg-color: #ff9d76;
	--button-bg-hover: #e87d5a;
	--button-text-color: #fff;
	--border-color: #ff9d76;
	--book-genre: linear-gradient(135deg, #ffe4b2, #ff9d76);
	--toggle-text: #f07167;
	--post-book-talk-button-bg: linear-gradient(135deg, #ffe4b2, #ff9d76);
	--heading-font:"Yeseva One", serif;;
	--text-font: "Lato", serif;
	--bg-navbar:linear-gradient(135deg, #ffe4b2, #ff9d76);
	
}

body.dark {
	--bg-color-container: #240046;
	--bg-color-book-page: #2e034c;
	--title-color: #d4bfff;
	--author-color: #b89de0;
	--text-color: #f4f4f4;
	--bg-color-card: linear-gradient(135deg, #2e034c, #483d8b, #240046);
	--button-bg-color: #6a0dad;
	--button-bg-hover: #4f0975;
	--border-color: #240046;
	--book-genre: linear-gradient(135deg, #240046, #483d8b);
	--toggle-text: #d4bfff;
	--post-book-talk-button-bg: linear-gradient(135deg, #6a11cb, #2575fc);
	--bg-navbar:purple;
}

.unselected {
	opacity: 0.5;
}
html body {
	background: var(--bg-color-container) !important;
	color: var(--text-color) !important;
	font-family: var(--text-font);
	font-weight: 300;
}


html body.dark {
	background: var(--bg-color-container) !important;
	color: var(--text-color) !important;
}
